language: python
python:
  - "3.4"
  - "3.5"
install:
  - pip install -U pip
  - pip install -r requirements.txt
  - pip install -r test_requirements.txt
script:
  - test $(pyflakes kumbhserial setup.py | tee /dev/stderr | wc -l) -eq 0
  - nosetests
  - kumbhprocessor
